<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Hello</strong>
    <p>A Demo application to print from Ionic 5 into thermal printer.</p>
    <p>To test print via bluetooth connection, navigate to Tab 2</p>
    <p>To test print via ethernet connection, navigate to Tab 3</p>
  </div>
</ion-content>
